<h1>Add Trip</h1>

<%= form_for @trip do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true, placeholder: 'Trip Location' %>
  <%= f.label :start_date %>
  <%= f.text_field :start_date, required: true, placeholder: 'Start Date' %>
  <%= f.label :end_date %>
  <%= f.text_field :end_date, required: true, placeholder: 'End Date' %>


  <%= f.submit nil, class: 'ui blue button' %>
<% end %>