<h1><%= @trip.name %></h1>
<hr />
<p>Where would you like to go?</p>

<%= link_to 'View all Trips', trips_path %>
<br />
<%= link_to 'View Locations', trip_locations_path(@trip) %>
<br />
<%= link_to 'Edit Trip', edit_trip_path(@trip) %>
<br />
<%= link_to 'Delete Trip', @trip, method: :delete %>

