<h1>Add Address</h1>

<%= form_for @address do |f| %>
  <%= f.label :street %>
  <%= f.text_field :street, required: true, placeholder: 'Street' %>
  <%= f.label :city %>
  <%= f.text_field :city, required: true, placeholder: 'City' %>
  <%= f.label :state %>
  <%= f.text_field :state, required: true, placeholder: 'State' %>
  <%= f.label :zip %>
  <%= f.text_field :zip, required: true, placeholder: 'Zip Code' %>


  <%= f.submit nil, class: 'ui blue button' %>
<% end %>
