<h1>Add Address</h1>

<hr/>
<%= form_with(model: [@location, @address], local: true, class: 'ui form') do |f| %>
  
  <div class="field">
    <%= f.label :street %>
    <%= f.text_field :street, required: true, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city, required: true, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.text_field :state, required: true, autofocus: true %>
  </div> 

  <div class="field">
    <%= f.label :zip %>
    <%= f.text_field :zip, required: true, autofocus: true %>
  </div> 

  <%= f.submit nil, class: 'ui green button' %>
<% end %>

